<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layouts/layout}">

<head>
<link th:href="@{/css/style.css}" rel="stylesheet">
	<!-- 사용자 CSS 추가 -->
		<style type="text/css">
			.wrap {
				width: 100%;
			}
			
			.imgbox {
				width: 100%;
			}
			
			.introImg {
				width: 100%;
				height: 50%;
			}
			
			.updateButton {
				text-align: center;
			}
		</style>

	<!-- 사용자 스크립트 추가 -->
	<th:block layout:fragment="script">
	
	</th:block>
</head>

<div layout:fragment="content">
	<div class="wrap">
		<div class="imgbox">
			<img class="introImg" src="/img/intro.jpg">
		</div>
	</div>
	<div class="updateButton">
		<button type="button" class="btn btn-primary" sec:authorize="hasAnyAuthority('ROLE_ADMIN')" onClick="location.href='/admin/intro/{introId}'">
			수정
		</button>
	</div>
</div>
</html>
