<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>FAQ List</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!--부트스트랩 css 추가-->
<link rel="stylesheet" href="/css/lib/bootstrap.min.css">
</head>
<body>
	<div class="container">
	<h1>FAQ Register.</h1>
		<form action="/board/faq/write/action" method="post">
			<div class="mb-3">
			    <label class="form-label">제목</label>
			    <input type="text" class="form-control" id="" name="title">
			</div>
			<div class="mb-3">
		    	<label class="form-label">내용</label>
		    	<textarea class="form-control" rows="5" cols="" name="content"></textarea>
			</div>
			<div class="mb-3">
			    <label class="form-label">작성자</label>
			    <input type="text" class="form-control" id="" name="registerId">
			</div>
			   <!-- <div class="mb-3">
          <label  class="form-label">첨부 파일</label>
         
            <div class="custom-file" id="inputFile">
              <input name="file" type="file" class="custom-file-input" id="customFile" />
              <label class="custom-file-label" for="customFile">파일을 선택해 주세요.</label>
           
          </div>
        </div> -->
			<button type="button" class="btn btn-success" onclick="javascript:location.href='/board/faq/list'">목록으로</button>
			<button type="submit" class="btn btn-primary">글쓰기</button>
		</form>
	</div>
	<!--부트스트랩 js, jquery 추가-->
	<script src="/js/lib/jquery.min.js"></script>
	<script src="/js/lib/bootstrap.min.js"></script>
	
</body>
</html>